* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.header {
  padding: 15px 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-link {
  text-decoration: none;
  color: #939699;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button {
  background: #4592ff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-icon,
.button-price,
.button-text {
  margin-right: 10px;
}

.slide {
  padding-top: 90px;
  padding-bottom: 110px;
}
.slide-1 {
  background: #b4d1e0 url("../img/slide-image-1.png") no-repeat top right 30%;
}
.slider-body {
  margin-left: 100px !important;
}
.label {
  font-size: 12px;
  padding: 5px 12px;
  background-color: #3dc47e;
  border-radius: 3px;
  color: wheat;
  line-height: 15px;
}
.slide-title {
  color: #262d33;
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.slide-description {
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
  max-width: 335px;
  margin-bottom: 40px;
}
.slider {
  position: relative;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card {
  min-height: 370px;
  padding-top: 60px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 80px;
  border-radius: 10px;
  display: block;
}
.card-1 {
  background: #e3e2e3 url("../img/image-ferst.jpg") no-repeat top right;
  background-size: cover;
}

.card-titel {
  font-size: 25px;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  color: #262d33;
  max-width: 222px;
  margin: 0;
}

.card-titel.large {
  max-width: 420px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-text {
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
  max-width: 176px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.card-text.large {
  max-width: 320px;
}
.card-2 {
  background: #000 url("../img/Image-two.jpg") no-repeat top right;
  background-size: cover;
}
.text-light {
  color: #fff;
}

.card-3 {
  padding-top: 35px;
  background: #ccd5e6 url("../img/image-3.png") no-repeat top right 10%;
  background-size: contain;
}
.card-4 {
  padding-top: 35px;
  padding-left: 25px;
  background: #ff4f52 url("../img/image-4.png") no-repeat top right;
  background-size: cover;
}
.card-price {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.absolute {
  position: relative;
}

.card-grup-img {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: transparent;
  width: 57px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.card-grup-img-1 {
  background-color: transparent;
  width: 57px;
  height: 53px;
}
.card-grup-img-1:hover {
  background-color: #fff;
  border-radius: 5px;
}

.button-card-grup-img {
  border: none;
  padding: 0;
  background-color: #ccd5e6;
  border-radius: 5px;
}
.active {
  background-color: #fff;
}

.section-title {
  color: #262d33;
  font-size: 25px;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
}
.link-more {
  text-decoration: none;
  color: #262d33;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}
.goods-card {
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-bottom: 35px;
}
.goods-card .label {
  position: absolute;
  left: 18px;
  top: 18px;
}
.goods-title {
  color: #262d33;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.goods-descreption {
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}
.goods-price {
  color: #262d33;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
}

.footer {
  background: #8f79d4;
  padding-top: 45px;
  padding-bottom: 40px;
  color: #fff;
}
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}
.footer-menu-link {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
.footer-text {
  color: #e7d9ff;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}
.social-link {
  text-decoration: none;
  margin-left: 15px;
}
.footer-line {
  color: #fff;
  opacity: 0.5;
  size: 1px;
}
.top-link {
  text-decoration: none;
  color: #fff;
}
.top-link-text {
  margin-right: 15px;
}
.payment-logo {
  vertical-align: middle;
  margin-right: 25px;
}
